@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Montserrat";
  
}
.navegationNav i{
    color: #333;
    font-size: 25px;
}
a{
    text-decoration: none;
}
body{
    background-color: #e2e2e2;
    color: #fff;
}
.navegationNav{
    color: #1c3150;
    text-decoration: none;
    background-color:#cccccf;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    padding: 5px 10px;
}

.navegationNav .options li{
    list-style: none;
    color: #1c3150;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}
.options li:hover{
    text-decoration:underline;
}
.navegationNav a{
    color: #1c3150;
}

.navegationNav a:hover{
    color: #1c3150;
}

.logoFrioPatry{
    height: 60px;
    width: 200px;
    background-image: url(../source/logos/frioPatry_Mesa\ de\ trabajo\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.banner{
    display: flex;
    flex-flow: column;
    height: 90vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-color: rgb(77, 77, 77);
    background-image:url(../source/imagenesMuestra/aireBanner1.jpg);
    background-blend-mode:multiply;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 7em 3%;
}



.titulo{
   
    font-size: 2.5rem;
}

.textoBanner{
    padding-top: 25px;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.5;
}

.boton{
    color: #1c3150;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:4rem;
    height:3em;
    width:12em;
    background-color: #fceb4b;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 5rem;
    border: solid;
    transition: .3s ease;

}

.boton:hover{
    cursor: pointer;
    color: #fceb4b;
    background-color: #1c3150;
    -webkit-box-shadow: 0px 0px 36px 2px rgba(176,176,176,1);
    -moz-box-shadow: 0px 0px 36px 2px rgba(176,176,176,1);
    box-shadow: 0px 0px 36px 2px rgba(176,176,176,1);
    

}
.servicios{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.nuestrosServicios{
    font-weight: bold;
    border-radius: 1em;
    margin-top:  1em;
    margin-bottom: 0.5em;
    padding:  1em;
    font-size: 40px;
    color: #1c3150;
    
}
section{
    display: flex;
    width: 90vw;
    height: 80vh;
    margin-bottom: 1em;

}
.divMenu1{
    
    background-image: url(/source/imagenesMuestra/aire1.jpg);
    background-color: #4f4f4f;
    background-blend-mode:soft-light;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divMenu2{
    background-image: url(/source/imagenesMuestra/lavadora1.jpg);
    background-color: #4f4f4f;
    background-blend-mode:soft-light;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divMenu3{
    background-image: url(/source/imagenesMuestra/nevera2.jpg);
    background-color: #4f4f4f;
    background-blend-mode:soft-light;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
section div{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}
section h1{
    font-size: 30px;
    padding: 20px;;
    margin-top: 15em;
    z-index: 1;
}
section div:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    color: #fceb4b;
    
}

footer{
    background-color: #1c3150;
    height: 50vh;
    
}
.lineaFooter{
    height: 6px;
    background-color: #fceb4b;
}
.divTituloFooter{
    padding-top: 15px;
    margin: 15px;
}
.divFooter{
    margin: 15px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
}
footer a{
    color: #fceb4b;;
    text-decoration: none;
    list-style: none;
    
}
footer a:hover{
    color: #e2e2e2;
}
footer ul{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer li{
    padding: 2px;
    display: inline-block;
}

.infoPersonal{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #333;
    
}

.infoPersonal h1{
    margin: 20px;
    font-size: 50px;
}
.infoPersonal p{
    margin: 20px;
    font-size: 30px;
}
.infoPersonal i{
    font-size: 30px;
}.imagenTecnico{
    height: 80vh;
    width: 40vw;
    background: url(../source/otros/Imagen\ de\ WhatsApp\ 2024-11-18\ a\ las\ 14.12.21_4871e5f6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #1c3150;
    border-radius: 50px;
}

.contedorPreguntas{
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    color: #171717;
    -webkit-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    height: 80vh;
    background: #dbdbdb;

}

.soluciones h1{
    font-size: 40px;
    justify-content: center;
    text-align: center;
}
.respuestas{
    
   display: flex;
   flex-flow: row;
   text-align: justify;
   margin: 20px;
   padding: 20px;
}

.contedorPreguntas li{
    margin: 30px;
    font-size: 22px;
}
.inseguro{
    margin-top: 60px;
    text-align: center;
}
.inseguro button{
    margin: 20px;
    border: 3px solid #1c3150;
    background: #fceb4b;
    border-radius: 20px;
    height: 50px;
    width: 200px;
}
.inseguro button:hover{
    cursor: pointer;
    background: #1c3150;
    border: 3px solid #fceb4b;
    color: #e2e2e2;
}
.contenedorContactanos{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: #171717;
    
}
.contenedorContactanos h1{
    font-size: 50px;
}
.contenedorContactanos p{
    margin-top: 10px;
    text-align: justify;
    font-size:  22px;
}
.imagenEmpresa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 80vh;
}
.empresa{
    background: url(../source/otros/mapFrioPatry.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    width: 40em;
    border-radius: 20px;  
}
.estamosUbicados{
    font-weight: bold;
}

.contenedorCitas{
    color: #171717;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
}
.contenedorCitas h1{
    margin: 20px;
}
.cita{
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 20px;
    background: #ffffff;
    height: 20em;
    width:35em;
    -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);
}
.cita button{
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 220px;
}
.cita.realizada button{
    color: #fceb4b;
    background: #19880d;
}
.cita.cancelada button{
    color: #fceb4b;
    background: #ab1e1e;
}
.cita.pendiente button{
    cursor: pointer;
    color: #1c3150;
    background: #fceb4b;
}
.cita.pendiente button:hover{
    cursor: pointer;
    color: #fceb4b;
    background: #1c3150;
}
.contenedorUsuario{
    color: #171717;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
}
.usuarioImage{
    background: url(../source/imagenesMuestra/Killjoy-best-agent.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 20em;
    width: 20em;
}
.contenedorUsuario button{
    border: none;
    border-radius: 20px;
    color: #1c3150;
    background: #fceb4b;
    cursor: pointer;
    height: 2em;
    width: 10em;
}
.contenedorUsuario button:hover{
    background: #1c3150;
    color: #fceb4b;
}
.infoUsuario{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.infoUsuario h1{
    text-align: center;
    font-size: 45px;
    padding: 20px;
}
.infoUsuario p{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.contenedorComentarios {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}
.formularioComentarios h4{
    font-weight:normal;
    font-size: 18px;
    margin: 0 auto;
    color: #d94646;
}

.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comentario .autor {
    font-weight: bold;
    color: #555;
}

.comentario .texto {
    margin: 5px 0;
    color: #333;
}

.formularioComentarios {
    margin-top: 20px;
}

.formularioComentarios label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formularioComentarios input,
.formularioComentarios textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
}

.formularioComentarios button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formularioComentarios button:hover {
    background-color: #0056b3;
}